.socials-container {
    display: flex;
    justify-content: space-between;
}

.socials-card {
    display: flex;
    align-items: center;

    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;

    text-decoration: none;
    color: unset;
}

.socials-card:hover {
    background-color: lightgray;
}

.socials-card > i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}